In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [82]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
import pandas as pd
import datetime as dt

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.  
june_temps = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == "06")

In [83]:
#  3. Convert the June temperatures to a list.
june_temps = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == "06").all()

In [84]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns=['June Temps'])

In [85]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [90]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == "12")

In [91]:
# 7. Convert the December temperatures to a list.
dec_temps = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == "12").all()

In [92]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns=['December Temps'])

In [93]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

# D3: Additional Queries

In [108]:
# Import Dependencies
from sqlalchemy import or_

In [179]:
# Refactor D1 queries/lists for Jun & Dec 2016 temps
jun_2016 = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == "06").\
    filter(func.strftime("%Y", Measurement.date) == '2016').all()
dec_2016 = session.query(Measurement.tobs).\
    filter(func.strftime("%m", Measurement.date) == "12").\
    filter(func.strftime("%Y", Measurement.date) == '2016').all()

# Convert lists to dfs
jun2016_df = pd.DataFrame(jun_2016,columns=['June 2016 Temps'])
dec2016_df = pd.DataFrame(dec_2016,columns=['December 2016 Temps'])

In [176]:
# Calculate and print jun2016_df summary statistics
jun2016_df.describe()

       June 2016 Temps
count       194.000000
mean         75.175258
std           3.421996
min          64.000000
25%          73.000000
50%          75.500000
75%          78.000000
max          81.000000

In [177]:
# Calculate and print dec2016_df summary statistics
dec2016_df.describe()

       December 2016 Temps
count           200.000000
mean             71.130000
std               3.419292
min              60.000000
25%              69.000000
50%              71.000000
75%              74.000000
max              78.000000